body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://media.istockphoto.com/id/1132091114/photo/red-casino-dice.jpg?s=612x612&w=0&k=20&c=PzVY32K0wRapEEd0Uv-k17iIp4GOI-SsrOTB_ytVjh0=') no-repeat center center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
